body {
  color:black;
  font-family:'Palatino', sans-serif; 
  background-image: url("nyclamppost.jpg");
  }
  
.header {
    padding: 80px;
    font-family: 'Palatino', sans-serif;
    text-align: center;
    background: transparent;
    color: black;
}

.header h1 {
    font-size: 40px;
}

.about {
  margin: 25px 50px 75px 100px;
  padding: 30px 50px 75px 100px;
  background-color: white;
}

.nav {
    background-color:transparent;
    overflow: hidden;
    text-align: center;
}

.nav a {
    float: center;
    color: black ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
.nav a:hover {
    background-color: transparent;
    color: black;
    }
 .nav a.active {
    background-color:transparent;
    color: white;
    }

.slides {
   background-color: white;
   }
