body {
  color:black;
  background-color: transparent;
  font-family:'Palatino', sans-serif; 
  background-image: url('nyclamppost.jpg')
  }
.header {
    padding: 80px;
    font-family: 'Palatino', sans-serif;
    text-align: center;
    background: transparent;
    color: black;
}

.header h1 {
    font-size: 40px;
}

.about {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: white;
}

.nav {
    background-color:transparent;
    overflow: hidden;
}

.nav a {
    float: center;
    color: antiquewhite ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
.nav a:hover {
    background-color: #ddd;
    color: black;
    }
 .nav a.active {
    background-color: antiquewhite;
    color: hsla(9, 100%, 73%, 0.5);
    }

.slides {
   background-color: white;
   }
